  <footer class="site-footer">
    <div class="footer-grid">
      <!-- Cột trái -->
      <div class="footer-left">
        <h3>Bảo Vệ Quyền Trẻ em</h3>
        <p>Địa chỉ:Số 98 Dương Quảng Hàm, Cầu Giấy, Hà Nội</p>
        <p>Hotline: 0337810297</p>
        <p>Email: <a href="bvte@mail.com">bvte@mail.com</a></p>
        <p>Website: <a href="bvte.com">bvte.com</a></p>
      </div>

      <!-- Cột phải -->
      <div class="footer-right">
        <div class="share-icon"><i class="fas fa-share-alt"></i></div>
        <a href="user.php?page=ungho" class="donate-btn">Quyên góp</a>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" class="icon fb"><i class="fab fa-facebook-f"></i></a>
          <a href="mailto:bvte@mail.com" class="icon mail"><i class="fas fa-envelope"></i></a>
          <a href="https://youtube.com" target="_blank" class="icon yt"><i class="fab fa-youtube"></i></a>
        </div>

      </div>
    </div>
  </footer>